@use "../../scss/" as *;

.sdc45wer5wesr5esd {
  margin: 40px 0;
  .mic-button {
    img {
      height: 35px;
    }
  }

  .s9887sdf8wptag {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    img {
      height: 25px;
    }
  }
  .searcs9887sdf8wptagbar {
    padding: 10px;
    width: 100%;
    background: $x1primary;
    border: none;
    border-radius: 10px;
    color: $white;
    font-size: 16px;
  }

  .sklsdf4545ws {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
