.whatsapp-btn {
  position: fixed;
  bottom: 94px;
  right: 12px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathe 2s ease-in-out infinite;
}

.whatsapp-btn i {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.Telegramico-btn {
  position: fixed;
  bottom: 160px;
  right: 12px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#36AEE0, #1C96D1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathex2 2s ease-in-out infinite;
}

.Telegramico-btn i {
  color: #fff;
  font-size: 32px;
  margin-top: 2px;
  text-decoration: none;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes breathex2 {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 130, 211, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 138, 211, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

